/* .div1 */
body
{
background-color:white;

}
div h1
{
position:absolute; 
top:14%;
left:16%; 
font-size:1cm;
text-transform:capitalize;
text-decoration:underline;
color:white
border-box: 3px solid white;
}
ul
{
color:black;
position:absolute; 
top:23%;
left:14.5%; 
font-size:23px;
letter-spacing:2px; 
/* word-spacing:2px; */
text-transform:capitalize;
}

#footer
{
background-color:black;
position:absolute; /* must include for postion basic */
width:100%;
height:36px;
bottom: 0;
border-radius:2px;
}
.p
{
text-align:center; 
color:white;
font-family:arial;
letter-spacing: 1.6px;
}
.nounderline
{
text-decoration:none;
}
#header
{
float:right;
}
.borderradius
{
button-radius:8px;
}
.fa-github
{
position:absolute; 
top:42%;
left:17%; 
font-size:2em;
color:black;
}
.fa-instagram
{
position:absolute; 
top:42%;
left:22%; 
font-size:2em;
color:black;
}
.fa-twitter
{
position:absolute; 
top:42%;
left:27%; 
font-size:2em;
color:black;
}
#fg
{
color:black;
border:3px solid black;
padding:10px 12px;
border-radius:22px;
}
#fg:hover         /* HOVER EFFECTS */
{
background-color:black;
color:white;
}



